*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 22%, 96%);
}
.container{
   border-radius: 40px;
    height: 570px;
    position: relative;
    width: 310px;
    background-color: hsl(0, 22%, 96%);
    box-shadow: 12px 12px 15px rgba(0, 0, 0, .1),-12px -12px 15px rgba(255, 255, 255, 1);
}
p{
    color: rgb(65, 70, 70);
    position: absolute;
    top: 19px;
    left: 26px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 800;
}
.line{
    position: absolute;
    top: 21px;
    left: 90px;
    height: 7px;
    width: 40px;
    background-color: rgb(65, 70, 70);
    border-radius: 20px;
}
.circle{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    top: 21px;
    left: 137px;
    background-color: rgb(65, 70, 70);
}
#fixdate{
    color: rgb(65, 70, 70);
    position: absolute;
    top: 19px;
    right: 90px;
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 800;
}
#battery{
    position: absolute;
    top: 17px;
    right: 48px;
    
}
#wifi{
    position: absolute;
    top: 19px;
    right: 23px;
    font-size: 12px;
    font-weight: 800;
}
#menu{
    bottom: 19px;
    position: absolute;
    left: 50px;
    color: rgb(17, 59, 138);
    font-weight: 900;
}
#house{
    bottom: 19px;
    position: absolute;
    left: 135px;
    color: rgb(17, 59, 138);
    font-weight: 900;
}
#volume{
    bottom: 19px;
    position: absolute;
    right: 50px;
    color: rgb(17, 59, 138);
    font-weight: 900;
}


input[type = "text"]{
    height: 100px;

    text-align: right;
    width:85%;
    background-color: hsl(0, 22%, 96%);
    border-radius: 10px;
    border: 0;
    margin: 70px auto;
    display: block;
    outline: none;
   box-shadow: 5px 5px 7px rgba(0, 0,0, .2),
   inset  -5px -5px 7px rgba(255, 255,255, 1),
   inset  5px 5px 7px rgba(0, 0,0, .2), 
   -5px -5px 7px rgba(255, 255,255, 1);
   padding: 0 10px;
   font-size: 20px;
   
}
input[type="button"]{
    height: 40px;
    font-size: 18px;
    width: 40px;
    border-radius: 8px;
    outline: none;
    border: 0;
    background-color: hsl(0, 22%, 96%);
    box-shadow: 2px 2px 5px rgba(0, 0,0, .2),
    -2px -2px 5px rgba(255, 255,255, 1);
    color: rgb(199, 204, 207);
}
.small-container{
  
    text-align: center;
    margin-top: -50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 0 10px 0 27px;
    grid-column-gap: 10px;
    grid-row-gap: 19px;
}
input[type="button"]:active{
    /* background-color: rgb(207, 200, 200); */
    /* color: #fff; */
    /* background-color: red; */
    box-shadow: inset 2px 2px 5px rgba(73, 73, 73, 0.2),
     inset -2px -2px 5px rgba(73, 73, 73, 0.2);
}
#equal{
    height: 100px;
    width: 40px;
   grid-column: 4/5;
    grid-row: 4/6;
}
input[type="button"].blue{
  color: rgb(17, 59, 138);
  font-weight: 800;
   
}
input[type="button"].blue1{
    color: rgb(17, 59, 138);
  font-weight: 800;
  font-size: 23px;
}
input[type="button"].blue1:active,input[type="button"].blue:active{
    background-color: red;
    color: #fff;
}
